.DS_Store

# dont need this from jekyll i dont think
_site/
marketing-site/.sass-cache/
marketing-site/.jekyll-cache/
marketing-site/.jekyll-metadata

# no need to push these modules up, can run npm install
node_modules/