<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row gap-y align-items-center">

      <div class="col-md-3 text-center text-md-left">
        <a href="#"><img src="./assets/img/navbar-logo.png" alt="logo"></a>
      </div>

      <div class="col-md-3 text-center text-md-left">
        <small>© 2023 Shirashakira Inc. LLC. All rights reserved.</small>
      </div>

      <div class="col-md-9 text-center text-md-right">
        <div class="social social-sm social-hover-bg-brand">
          <a class="social-twitter" href="https://twitter.com/watersavers_inc"><i class="fa fa-twitter"></i></a>
          <a class="social-instagram" href="https://www.instagram.com/watersaversirrigation/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- /.footer -->
